@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 10px;
}

.container {
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
}
.nav__btn {
  width: 11.2rem;
  height: 4.8rem;
  background: #624de3;
  border-radius: 0.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 171%;
  text-align: center;
  color: #fff;
  padding: 1.2rem 2.4rem;
}

/* banner */
.banner {
  text-align: center;
  background: #100a30;
  padding-top: 6.4rem;
  position: relative;
  padding-bottom: 75.7rem;
}
.banner__img {
  position: absolute;
  bottom: -17.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.banner__title {
  max-width: 67.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 116%;
  letter-spacing: 0.01em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 2.6rem;
}
.banner__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 187%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4.8rem;
}

.btn__group {
  margin: 0 auto;
  max-width: 39.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.btn__group-btn {
  width: 16.8rem;
  height: 5.4rem;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #fff;
  padding: 1.5rem -3.7rem;
  border: 1px solid #c3c1cb;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__group-btn--main {
  width: 21rem;
  height: 5.4rem;
  border-radius: 0.6rem;
  background: #624de3;
  font-size: 1.5rem;
  line-height: 160%;
  border: none;
}

/* tariff */
.section {
  padding-top: 21.6rem;
  padding-bottom: 8.6rem;
}
.section__title {
  max-width: 59.1rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 117%;
  color: #100a30;
  margin-bottom: 5.8rem;
}

.tariff {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.tariff__list {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 157%;
  color: #100a30;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 3.2rem;
}
.tariff__list-item {
  position: relative;
  max-width: 39.5rem;
}
.tariff__list-item::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -29px;
  background-image: url("../images/check-01.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 2.4rem;
  height: 2.4rem;
}
.tariff-info__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
  align-self: flex-end;
  margin-bottom: 1.4rem;
  position: relative;
}
.tariff-info__title::before {
  content: "";
  position: absolute;
  width: 6.1rem;
  height: 1.6rem;
  background-image: url("../images/pakko.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: -28px;
}
.tariff__header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 3rem;
  padding-right: 3.6rem;
  padding-top: 15.8rem;
  padding-bottom: 2.4rem;
  border-radius: 0.8rem 0.8rem 0 0;
}
.tariff__footer {
  padding-left: 3rem;
  padding-top: 2.4rem;
  padding-bottom: 2.6rem;
  border-radius: 0 0 0.8rem 0.8rem;
}
.tariff-item {
  border-radius: 0.8rem;
}
.tariff-item__01 .tariff__footer {
  background: rgba(16, 10, 48, 0.03);
}
.tariff-item__01 .tariff-info__title {
  color: #fff;
}
.tariff-item__01 .tariff__header {
  background-image: url("../images/tariff-01.png");
}
.tariff-item__02 .tariff__footer {
  background: rgba(25, 199, 135, 0.05);
}
.tariff-item__02 .tariff-info__title {
  color: #19c787;
}
.tariff-item__02 .tariff__header {
  background-image: url("../images/tariff-02.png");
}
.tariff-item__02 .tariff__list-item::before {
  background-image: url("../images/check-02.svg");
}
.tariff-item__03 .tariff__footer {
  background: rgba(252, 185, 52, 0.05);
}
.tariff-item__03 .tariff-info__title {
  color: #ff9f1c;
}
.tariff-item__03 .tariff__header {
  background-image: url("../images/tariff-03.png");
}
.tariff-item__03 .tariff__list-item::before {
  background-image: url("../images/check-03.svg");
}
.tariff-info {
  display: flex;
  justify-content: space-between;
  width: 32.8rem;
}
.tariff-info__price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 117%;
  color: #fff;
  position: relative;
  display: flex;
  gap: 0.8rem;
}
.tariff-info__price span {
  display: block;
  font-size: 1.5rem;
  line-height: 213%;
  text-align: right;
  align-self: flex-end;
}

/* reviews */
.reviews {
  padding-top: 11rem;
  padding-bottom: 12.1rem;
}
.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.reviews__left {
  max-width: 50%;
  padding-top: 3.7rem;
}
.reviews__left-item {
  border-radius: 0.8rem;
  background: #e8e5fb;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}
.reviews__left-item:not(:last-child) {
  margin-bottom: 4rem;
}
.reviews__left-item-subscribe {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
}
.reviews__left-item-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 176%;
  letter-spacing: 0.01em;
  color: #4c4764;
  max-width: 50.3rem;
  margin-bottom: 2rem;
}
.reviews__left-item-title {
  padding-left: 6.4rem;
  margin-bottom: 3.6rem;
  position: relative;
}
.reviews__left-item-title::before {
  content: "";
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  background-image: url("../images/review-01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
}
.reviews__left-item-title::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../images/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  right: 0;
  top: 0;
}
.reviews__left-item-author {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
  margin-bottom: 0.2rem;
}
.reviews__left-item-nick {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4764;
}
.reviews__left-item-02 {
  background: #e8faf3;
}
.reviews__left-item-02 .reviews__left-item-title::before {
  background-image: url("../images/review-02.png");
}
.reviews__left-item-02 .reviews__left-item-title::after {
  background-image: url("../images/message.svg");
}
.reviews__left-item-03 {
  background: #fdebee;
}
.reviews__left-item-03 .reviews__left-item-title::before {
  background-image: url("../images/review-03.png");
}
.reviews__left-item-03 .reviews__left-item-title::after {
  background-image: url("../images/message.svg");
}
.reviews__left-item-04 {
  background: #e6f3ff;
}
.reviews__left-item-04 .reviews__left-item-title::before {
  background-image: url("../images/review-04.png");
}
.reviews__left-item-04 .reviews__left-item-title::after {
  background-image: url("../images/twitter.svg");
}
.reviews__left-item-05 {
  background: #fff5e1;
}
.reviews__left-item-05 .reviews__left-item-title::before {
  background-image: url("../images/review-05.png");
}
.reviews__left-item-05 .reviews__left-item-title::after {
  background-image: url("../images/message.svg");
}
.reviews__right {
  max-width: 50%;
}
.reviews__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 117%;
  color: #100a30;
  margin-bottom: 8.1rem;
}/*# sourceMappingURL=style.css.map */