@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "reset";
@import "variables";

html {
  font-size: 10px;
}

.container {
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  &__link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
  }
  &__btn {
    width: 11.2rem;
    height: 4.8rem;
    background: #624de3;
    border-radius: .6rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 171%;
    text-align: center;
    color: #fff;
    padding: 1.2rem 2.4rem;
  }
}

/* banner */
.banner {
  text-align: center;
  background: #100a30;
  padding-top: 6.4rem;
  position: relative;
  padding-bottom: 75.7rem;
  &__img {
    position: absolute;
    bottom: -17.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__title {
    max-width: 67.4rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 116%;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 2.6rem;
  }
  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 187%;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4.8rem;
  }
}

.btn__group {
  margin: 0 auto;
  max-width: 39.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  &-btn {
    width: 16.8rem;
    height: 5.4rem;
    background-color: transparent;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #fff;
    padding: 1.5rem -3.7rem;
    border: 1px solid #c3c1cb;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--main {
      width: 21rem;
      height: 5.4rem;
      border-radius: 0.6rem;
      background: #624de3;
      font-size: 1.5rem;
      line-height: 160%;
      border: none;
    }
  }
}

/* tariff */
.section {
  padding-top: 21.6rem;
  padding-bottom: 8.6rem;
  &__title {
    max-width: 59.1rem;
    margin: 0 auto;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 117%;
    color: #100a30;
    margin-bottom: 5.8rem;
  }
}
.tariff {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &__list {
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 157%;
    color: #100a30;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-left: 3.2rem;
    &-item {
      position: relative;
      max-width: 39.5rem;
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        left: -29px;
        background-image: url('../images/check-01.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
  &-info__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 100%;
    align-self: flex-end;
    margin-bottom: 1.4rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 6.1rem;
      height: 1.6rem;
      background-image: url('../images/pakko.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: -28px;
    }
  }
  &__header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 3rem;
    padding-right: 3.6rem;
    padding-top: 15.8rem;
    padding-bottom: 2.4rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  &__footer {
    padding-left: 3rem;
    padding-top: 2.4rem;
    padding-bottom: 2.6rem;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  &-item {
    border-radius: 0.8rem;
    &__01 {
      .tariff__footer {
        background: rgba(16, 10, 48, 0.03);
      }
      .tariff-info__title {
        color: #fff;
      }
      .tariff__header {
        background-image: url('../images/tariff-01.png');
      }
    }
    &__02 {
      .tariff__footer {
        background: rgba(25, 199, 135, 0.05);
      }
      .tariff-info__title {
        color: #19c787;
      }
      .tariff__header {
        background-image: url('../images/tariff-02.png');
      }
      .tariff__list-item {
        &::before {
          background-image: url('../images/check-02.svg');
        }
      }
    }
    &__03 {
      .tariff__footer {
        background: rgba(252, 185, 52, 0.05);
      }
      .tariff-info__title {
        color: #ff9f1c;
      }
      .tariff__header {
        background-image: url('../images/tariff-03.png');
      }
      .tariff__list-item {
        &::before {
          background-image: url('../images/check-03.svg');
        }
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    width: 32.8rem;
    &__price {
      font-family: $font-family;
      font-weight: 400;
      font-size: 4.8rem;
      line-height: 117%;
      color: #fff;
      position: relative;
      display: flex;
      gap: .8rem;
      & span {
        display: block;
        font-size: 1.5rem;
        line-height: 213%;
        text-align: right;
        align-self: flex-end;
      }
    }
  }
}

/* reviews */
.reviews {
  padding-top: 11rem;
  padding-bottom: 12.1rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  &__left {
    max-width: 50%;
    padding-top: 3.7rem;
    &-item {
      border-radius: 0.8rem;
      background: #e8e5fb;
      padding-top: 4rem;
      padding-left: 4rem;
      padding-right: 4rem;
      padding-bottom: 2rem;
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
      &-subscribe {
        font-family: $font-family;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        color: #100a30;
      }
      &-text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 176%;
        letter-spacing: 0.01em;
        color: #4c4764;
        max-width: 50.3rem;
        margin-bottom: 2rem;
      }
      &-title {
        padding-left: 6.4rem;
        margin-bottom: 3.6rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 4.8rem;
          height: 4.8rem;
          background-image: url('../images/review-01.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          left: 0;
          top: 0;
        }
        &::after {
          content: "";
          position: absolute;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('../images/twitter.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          right: 0;
          top: 0;
        }
      }
      &-author {
        font-family: $font-family;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        color: #100a30;
        margin-bottom: 0.2rem;
      }
      &-nick {
        font-family: $font-family;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 160%;
        color: #4c4764;
      }
      &-02 {
        background: #e8faf3;
        .reviews__left-item-title {
          &::before {
            background-image: url('../images/review-02.png');
          }
          &::after {
            background-image: url('../images/message.svg');
          }
        }
      }
      &-03 {
        background: #fdebee;
        .reviews__left-item-title {
          &::before {
            background-image: url('../images/review-03.png');
          }
          &::after {
            background-image: url('../images/message.svg');
          }
        }
      }
      &-04 {
        background: #e6f3ff;
        .reviews__left-item-title {
          &::before {
            background-image: url('../images/review-04.png');
          }
          &::after {
            background-image: url('../images/twitter.svg');
          }
        }
      }
      &-05 {
        background: #fff5e1;
        .reviews__left-item-title {
          &::before {
            background-image: url('../images/review-05.png');
          }
          &::after {
            background-image: url('../images/message.svg');
          }
        }
      }
    }
  }
  &__right {
    max-width: 50%;
  }
  &__title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 117%;
    color: #100a30;
    margin-bottom: 8.1rem;
  }
}

/* footer */
.footer {
  & a {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #4c4764;
  }
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  background: #f8f8f9;
  &__wrapper {
    display: flex;
    gap: 13.1rem;
  }
  &__logo {
    margin-bottom: 2.4rem;
  }
  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 187%;
    letter-spacing: 0.01em;
    color: #4c4764;
    margin-bottom: 2.4rem;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    &-item--top{
      margin-bottom: 1.2rem;
      & a {
        font-family: $font-family;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        color: #100a30;
      }
    }
  }
}