@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "reset";
@import "variables";

html {
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  &__link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
  }
  &__btn {
    width: 11.2rem;
    height: 4.8rem;
    background: #624de3;
    border-radius: .6rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 171%;
    text-align: center;
    color: #fff;
    padding: 1.2rem 2.4rem;
  }
}