@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "reset";
@import "variables";

html {
  font-size: 10px;
}

.container {
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  &__link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #100a30;
  }
  &__btn {
    width: 11.2rem;
    height: 4.8rem;
    background: #624de3;
    border-radius: .6rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 171%;
    text-align: center;
    color: #fff;
    padding: 1.2rem 2.4rem;
  }
}

/* banner */
.banner {
  text-align: center;
  background: #100a30;
  padding-top: 6.4rem;
  position: relative;
  padding-bottom: 75.7rem;
  &__img {
    position: absolute;
    bottom: -17.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__title {
    max-width: 67.4rem;
    font-family: $font-family;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 116%;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 2.6rem;
  }
  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 187%;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4.8rem;
  }
}

.btn__group {
  margin: 0 auto;
  max-width: 39.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  &-btn {
    width: 16.8rem;
    height: 5.4rem;
    background-color: transparent;
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #fff;
    padding: 1.5rem -3.7rem;
    border: 1px solid #c3c1cb;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--main {
      width: 21rem;
      height: 5.4rem;
      border-radius: 0.6rem;
      background: #624de3;
      font-size: 1.5rem;
      line-height: 160%;
      border: none;
    }
  }
}

/* tariff */
.section {
  padding-top: 21.6rem;
  padding-bottom: 8.6rem;
  &__title {
    max-width: 59.1rem;
    margin: 0 auto;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 117%;
    color: #100a30;
  }
}
.tariff {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  &__list {
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 157%;
    color: #100a30;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-left: 3.2rem;
    &-item {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        left: -29px;
        background-image: url('../images/check-01.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
  &-info__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 100%;
    align-self: flex-end;
    margin-bottom: 1.4rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 6.1rem;
      height: 1.6rem;
      background-image: url('../images/pakko.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: -28px;
    }
  }
  &__header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 3rem;
    padding-right: 3.6rem;
    padding-top: 15.8rem;
    padding-bottom: 2.4rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  &__footer {
    padding-left: 3rem;
    padding-top: 2.4rem;
    padding-bottom: 2.6rem;
  }
  &-item {
    border-radius: 0.8rem;
    padding-top: 15.8rem;
    &__01 {
      .tariff__footer {
        background: rgba(16, 10, 48, 0.03);
      }
      .tariff-info__title {
        color: #fff;
      }
      .tariff__header {
        background-image: url('../images/tariff-01.png');
      }
    }
    &__02 {
      .tariff__footer {
        background: rgba(25, 199, 135, 0.05);
      }
      .tariff-info__title {
        color: #19c787;
      }
      .tariff__header {
        background-image: url('../images/tariff-02.png');
      }
      .tariff__list-item {
        &::before {
          background-image: url('../images/check-02.svg');
        }
      }
    }
    &__03 {
      .tariff__footer {
        background: rgba(252, 185, 52, 0.05);
      }
      .tariff-info__title {
        color: #ff9f1c;
      }
      .tariff__header {
        background-image: url('../images/tariff-03.png');
      }
      .tariff__list-item {
        &::before {
          background-image: url('../images/check-03.svg');
        }
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    width: 32.8rem;
    &__price {
      font-family: $font-family;
      font-weight: 400;
      font-size: 4.8rem;
      line-height: 117%;
      color: #fff;
      position: relative;
      display: flex;
      gap: .8rem;
      & span {
        display: block;
        font-size: 1.5rem;
        line-height: 213%;
        text-align: right;
        align-self: flex-end;
      }
    }
  }
}